<!-- get access to online training classes -->
<div class="course-container">
  <div class="course-card">
    <img src="https://example.com/course1.jpg" alt="Course 1">
    <h3>Course 1</h3>
    <p>This is a description of Course 1.</p>
    <a href="https://www.example.com/course1" class="course-link">Start Course</a>
  </div>
  <div class="course-card">
    <img src="https://example.com/course2.jpg" alt="Course 2">
    <h3>Course 2</h3>
    <p>This is a description of Course 2.</p>
    <a href="https://www.example.com/course2" class="course-link">Start Course</a>
  </div>
</div>


