<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9 col-xl-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form>
              <h1>Post a Job</h1>
              <p class="text-medium-emphasis">Share your job opportunity</p>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg name="cilUser"></svg>
                </span>
                <input autoComplete="job-title" class="form-control" placeholder="Job Title" />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg name="cilLocationPin"></svg>
                </span>
                <input autoComplete="job-location" class="form-control" placeholder="Job Location" />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg name="cilMoney"></svg>
                </span>
                <input autoComplete="job-salary" class="form-control" placeholder="Salary" />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg name="cilDescription"></svg>
                </span>
                <textarea autoComplete="job-description" class="form-control" placeholder="Job Description"></textarea>
              </div>
              <div class="d-grid">
                <button class="btn btn-success">Post Job</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
