<h1>All Jobs</h1>
<div class="container">
  <!--dummy table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Salary</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <!-- dummy row data -->
      <tr>
        <td>Software Engineer</td>
        <td>San Francisco</td>
        <td>$100,000</td>
        <td>Full Stack Developer</td>
      </tr>
      <tr>
        <td>Engineer</td>
        <td>China</td>
        <td>$1000</td>
        <td>Developer</td>
    </tbody>
  </table>
</div>
<!-- <tr *ngFor="let job of jobs">
        <td>{{ job.title }}</td>
        <td>{{ job.location }}</td>
        <td>{{ job.salary }}</td>
        <td>{{ job.description }}</td>
      </tr> -->
